
@font-face {
    font-family: 'gothic';
    src: url(./fonts/GothicR.ttf);
}
    *
    {   
        padding: 0px;
        margin: 0px;
        font-family: 'gothic';
    }
    body
    {   width: 100%;
        overflow-x: hidden;
        background: #eaeaea;
    }
#soon
{
    font-weight: bold;
    font-size: 3rem;
    padding: 20px;
    margin: auto;
    width: 80%;
    text-align: center;
}
.fwbox
{
    width: 65%;
    margin: 5px auto 10px auto;
    height: 5px;
    background: white;
}
.check
{
    width: 60vw;
    height: 100vh;
    background: black;
}
.firstwrapper
{
   min-height: 100vh;
   background-image: url('../img/main.jpg');
   background-position: 0% 0%;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   z-index: 3;
   font-family:'monserrat';
}
.desc
{
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100vh;
    display: flex;
`    justify-content: center;
}
#seemore
{
    position: absolute;
    background: transparent;
    border: 2px solid white;
    padding: 15px;
    color: white;
    top: 70vh;
    margin: auto;
    overflow: hidden;
    font-size: 1rem;
    margin-top: 3vh;
    left: 45%;
}
#back
{
    position: absolute;
    content: 'Seemore';
    color: transparent;
    left: 0px;
    height: 0%;
    width: 100%;
    top: 50%;
    background: white;
    transition: all 0.3s linear;
    z-index:-1;
} 
#seemore:hover > #back
{   height: 100%;
    top: 0%;
}
#more:hover > #seemore
{
 color: black;
}
.quote
{
    width: 60%;
    font-size: 0.3em;
    margin: auto;
}
.descs,.tag
{
    margin: auto 0px;
    color: white;
    font-size: 4.6rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tint
{
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;    
    background: rgba(0,0,0,0.65);
    z-index: 1;
}
.desc p:first-child
{
    font-size: 4rem;
    line-height: 0.8em;
    margin: auto;
}
.tag
{   color: white;
    margin: 0px;
    font-size: 3rem;
}
.tag
{
    line-height: 6rem;
    margin: auto;
}
.nav,.nav.inactive
{   background: white;
    margin: 0px auto;
    width: 90%;
    display: flex;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav.inactive
{
    /* border-bottom: 3px solid #0e547f; */
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav ul
{
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
.nav ul li
{
    /* margin: auto; */
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 1.1rem;
    font-family: 'gothic';
}
.nav ul li a
{   color: #b6b8ba;
    text-decoration: none;
    cursor: pointer;
    margin: auto;
    padding: auto;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.nav ul li a:hover
{
    color: #2791c4;
}
.nav.inactive #logo
{
    display: none;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav.active #logo
{   width: 40vw;
    padding: 0px 20px;
    display: block;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
} 
#logo 
{
    border-right: 0px;
}
#logo img
{
    width: 130px;
    height: 60px;
}
.nav.active
{
    position: fixed;
    width: 100%;
    top: 0px;
    background: white;
    z-index: 10;
    display: flex;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.about,.speakers,.contact,.sponsors
{
    background: white;
    /* margin:auto; */
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
    width: 93%;
}
.abtimage
{
    min-height: 60vh;
    width: 90%;
    background: url('../img/	about.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.abtcontent
{
    font-family: 'gothic';
    /* width: 80vw; */
    color: rgba(0,0,0,0.7
    );
    margin: auto 10vw;
    background: white;
    text-align: justify;
    padding: 20px;
    font-weight: bold;
}
.abttitle,.spktitle,.cttitle,.spntitle
{
    position: relative;
    margin: auto;
    font-size: 3rem;
    color:  #a3a5a7;
    font-weight: bold;
    margin-top: 15vh;
    font-family: 'gothic';
    text-transform: uppercase;
}
.spkcont,.spncont
{
    position: relative;
    margin: auto;
    font-size: 3rem;
    font-weight: bold;
    color:  black;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
}
.flex-item
{
    width: 300px;
    height: 330px;
    display: flex;
    flex-direction: column;
    margin:20px;
}
#image
{
    height: 90%;
    width: 100%;
    background: rgba(0,0,0,0.1);
}
#name
{
    height: 10%;
    width: 100%;
    background:#222;
    display: flex;
    justify-content: center;
}
#name p
{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    margin:auto;
}
.spkcont,.spncont
{   font-family: 'monserrat';
    font-size: 6rem;
}
.item
{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item p 
{
    color:#bbc0c4;
    padding: 5px;
    margin:auto;
}
.contact
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
    min-height: 30%;
    width: 93%;
    margin-bottom: 0px;
}
#promologo
{
    /* margin-top: 61px; */
    position: absolute;
    bottom: 0px;
    width: 50%;
    height: 50%;
}
#promo
{   position: relative;
    width: 40%;
    background: #2791c4;
}
#cnctinfo
{   position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
}
#item p:nth-child(2)
{
    color: #2791c4;
}
#cninfo
{   text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#slogan
{
    font-size: 1.3rem;
    color: #2791c4;
    margin-right: 9vw;
    text-align: right;
}
#promologo img
{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    position: relative;
}
.itemwrapper
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
#itema
{
    width: 30%;
}
#item,#itema
{   margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center
}
#item p 
{
    color: black;
    text-align: right;
    margin-right: 9vw;
    font-size: 1.2rem;
}
#head
{
    /* margin: auto; */
    color: #b6b8ba;
    font-size: 5rem;
    float: right;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 7vw;
}
#title
{
    font-weight: bold;
    font-size: 1.3rem;
    color: #2890d1;
    border-bottom: 3px solid white;
}
#social
{
    display: flex;
    justify-content: center;

}
#social img
{
    width: 25px;
    height: 25px;
}
#social p
{
    text-decoration: none;
    
}
#social a
{
    display: flex;
    color: white;
    flex-direction: column;
    text-decoration: none;
    display: flex;
    padding: 10px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#social a:hover
{
    color: white;
}
#contactlogo img
{
    width: 60%;
    margin:auto;
    max-height: 20vh;
}
.verticalbar
{
    position: fixed;
    width: 7%;
    height: 400vh;
    background: #2791c4;
    top: 0px;
    right: 0px;
    direction: flex;
    flex-direction: column;
    justify-content: center;
}
.normal
{
    margin-top: 0vh;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.slide
{
    margin-top: -100vh;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

}
.verticalbar p
{
    transform: rotate(90deg);
    transform-origin: left 0;
    position: relative;
    float: left;
    height: 100vh;
    width: 100vh;
    margin-left: 5.7vw;
    font-weight: bold;
    font-size: 5rem;
    color: white;
    text-align: center;
    z-index: 1;
}
#teamnav
{
    text-decoration: none;
    /* height: 20%; */
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: center;
}
#teamnav a
{
    text-decoration: none;
    color: white;
    font-size: 3rem;
    position: relative;
    margin: auto;
    z-index: 5;
}
.member img
{
    width: 200px;
    height: 200px;
}
#image img
{
    width: 100%;
    height: 100%;
}
@media all and (max-width: 700px)
{   *
    {
        overflow-x: hidden;
    }
    #head
    {
        display: none;
    }
    .verticalbar
    {
        display: none;
    }
    #promo,#cnctinfo
    {
        width: 100%;
    }
    #itema p
    {
        margin: auto;
    }
    .itemwrapper
    {
        flex-direction: column;
    }
    #item p
    {
        margin: auto;
        font-size: 1rem;
        text-align: center;
    }
    #teamnav a
    {
        font-size: 2rem;
    }
    #promologo
    {
        display: none;
    }
    .descs
    {   min-height: 20vh;
        margin: auto 15%;
        font-size: 3rem;
        font-weight: bold;
    }
    .tag
    {
        text-align: center;
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 2.5rem;
    }
    .firstwrapper
    {   
        overflow: hidden;
    }
    .contact
    {
        flex-direction: column;
    }
    .item
    {   
        width: 100%;
    }
    .abtimage
    {   min-height: 20vh;
    }
    #seemore
    {
        top: 70%;
        margin: auto;
        margin-left: -8%;
    }
    .desc p:first-child 
    {
        text-align: center;
        font-size: 2rem;
    }
    .quote
    {
        width: 90%;
        margin:auto;
        text-align: center;
    }
    #logo
    {
        display:none !important;
    }
    .nav ul li 
    {
        padding:5px;    
    }
    #slogan
    {
        text-align: center;
        margin: auto;
        font-size: 1.2rem;
    }
    #more
    {
        margin-top: 10%;
    }
    .speakers,.about,.sponsors,.contact
    {
        width: 100%;
    }
    #item
    {
        margin-bottom: 10px;
    }
}

